numpy==1.16.0
onnx
tensorflow==1.5.0
keras==2.1.6
coremltools==2.0
jupyter==1.0.0
onnxmltools
six==1.10.0
tqdm==4.26.0
torchvision==0.2.1
opencv-python==3.2.0.6
matplotlib==2.1.1
pandas==0.22.0
pillow==5.0.0
scipy==1.0.0
scikit-learn==0.20.0
onnxruntime
netron
